flows (1).json
[
    {
        "id": "3231439e6af190b4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b87246f90ac065b0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "host.docker.internal",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9742041c25c8aa18",
        "type": "inject",
        "z": "3231439e6af190b4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\": 25.5, \"sensor\": \"ESP32_01\"}",
        "payloadType": "json",
        "x": 330,
        "y": 260,
        "wires": [
            [
                "53d1787a63521f57",
                "968f89f4b6d35527"
            ]
        ]
    },
    {
        "id": "53d1787a63521f57",
        "type": "mqtt out",
        "z": "3231439e6af190b4",
        "name": "",
        "topic": "campus/lab1/temperature",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b87246f90ac065b0",
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "968f89f4b6d35527",
        "type": "debug",
        "z": "3231439e6af190b4",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 340,
        "wires": []
    },
    {
        "id": "2ea9ad33fa0d7765",
        "type": "inject",
        "z": "3231439e6af190b4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\": 25.5, \"sensor\": \"ESP32_01\"}",
        "payloadType": "json",
        "x": 330,
        "y": 560,
        "wires": [
            [
                "ec7f57d1717c2274",
                "fd314434998202a4"
            ]
        ]
    },
    {
        "id": "ec7f57d1717c2274",
        "type": "mqtt out",
        "z": "3231439e6af190b4",
        "name": "",
        "topic": "campus/lab2/temperature",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b87246f90ac065b0",
        "x": 630,
        "y": 560,
        "wires": []
    },
    {
        "id": "fd314434998202a4",
        "type": "debug",
        "z": "3231439e6af190b4",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 640,
        "wires": []
    },
    {
        "id": "fb45fc2ca42ae8cd",
        "type": "inject",
        "z": "3231439e6af190b4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\": 25.5, \"sensor\": \"ESP32_01\"}",
        "payloadType": "json",
        "x": 330,
        "y": 780,
        "wires": [
            [
                "6d639911322acbb0",
                "9bd0273adf06fc42"
            ]
        ]
    },
    {
        "id": "6d639911322acbb0",
        "type": "mqtt out",
        "z": "3231439e6af190b4",
        "name": "",
        "topic": "campus/lab1/humidity",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b87246f90ac065b0",
        "x": 620,
        "y": 780,
        "wires": []
    },
    {
        "id": "9bd0273adf06fc42",
        "type": "debug",
        "z": "3231439e6af190b4",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 860,
        "wires": []
    }
]